<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>StartingPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Personal</display-name>
    <servlet-name>Personal</servlet-name>
    <servlet-class>com.service.Personal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personal</servlet-name>
    <url-pattern>/Personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personal</display-name>
    <servlet-name>personal</servlet-name>
    <servlet-class>com.service.personal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personal</servlet-name>
    <url-pattern>/personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Review</display-name>
    <servlet-name>Review</servlet-name>
    <servlet-class>com.service.Review</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review</servlet-name>
    <url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Final</display-name>
    <servlet-name>Final</servlet-name>
    <servlet-class>com.service.Final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final</servlet-name>
    <url-pattern>/Final</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Review1</display-name>
    <servlet-name>Review1</servlet-name>
    <servlet-class>com.service.Review1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review1</servlet-name>
    <url-pattern>/Review1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.service.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckId</display-name>
    <servlet-name>CheckId</servlet-name>
    <servlet-class>com.service.CheckId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckId</servlet-name>
    <url-pattern>/CheckId</url-pattern>
  </servlet-mapping>
</web-app>